@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-image: url("../img/404.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1.f404f {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: right;
  margin-top: 19rem;
  margin-right: 14rem;
  transform: rotate(-20deg);
}

p.f404f {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 400;
  transform: rotate(-20deg);
  margin-right: 2rem;
  margin-top: -4rem;
}

a.f404f {
  float: right;
  margin-right: 8.5rem;
  margin-top: -9rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  transform: rotate(-20deg);
  text-decoration: none;
  color: #fff;
  background-color: #1e90ff;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

a.f404f:hover {
  background-color: #0062c3;
}
