@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#board1 {
  margin-left: 31%;
  margin-top: 100px;
}

.undo {
  margin-left: 75%;
}

.undo,
.redo {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #bbb;
  border: 1px solid #aaa;
  opacity: 0.6;
  transition: 0.25s;
  margin-bottom: 100px;
}

.redo {
  margin-left: 25px;
}

.undo i,
.redo i {
  font-size: 30px;
}

.undo:hover,
.redo:hover {
  opacity: 0.8;
}

.rating {
  color: white;
  text-align: center;
  font-family: "Montserrat";
}

.square-55d63 {
  transition: 0.25s;
}

.highlight {
  background-color: #ff4e4e91;
}

.highlight2 {
  background-color: #aa000091;
}

.main {
  position: relative;
  margin-top: -50%;
}
