@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.join {
  margin-left: 45%;
  margin-top: 5%;
  border: 1px solid rgb(0, 60, 255);
  background-color: rgb(0, 132, 255);
  padding: 8px;
  width: 100px;
  border-radius: 5px;
  color: white;
  font-family: "Montserrat";
  font-size: 15px;
  transition: 0.25s;
}

.join:hover {
  background-color: rgb(0, 91, 177);
}

.join:active,
.join:disabled {
  background-color: rgb(79, 170, 255);
}
