@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

.join {
  display: block;
  margin-left: 2.5%;
  position: absolute;
  border: 1px solid rgb(0, 60, 255);
  background-color: rgb(0, 132, 255);
  padding: 8px;
  border-radius: 5px;
  color: white;
  font-family: "Montserrat";
  font-size: 15px;
  transition: 0.25s;
}

.join:hover {
  background-color: rgb(0, 91, 177);
}

.join:active,
.join:disabled {
  background-color: rgb(79, 170, 255);
}

#board1 {
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: -6%;
}

.menu {
  background-color: rgb(184, 222, 255);
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.highlight {
  background-color: #ff4e4e91;
}

.highlight2 {
  background-color: #aa000091;
}

.highlightalt {
  background-color: #4ef0ff91;
}

.highlightalt2 {
  background-color: #00889491;
}

.highlightctrl {
  background-color: #ffc14eb9;
}

.highlightctrl2 {
  background-color: #df9800b7;
}

.highlightshift {
  background-color: #a1ff4e91;
}

.highlightshift2 {
  background-color: #4aa00091;
}

.square-55d63 {
  transition: all 0.25s;
}

main {
  display: grid;
  grid-gap: 5%;
  margin-left: 5%;
  margin-top: 5%;
  width: 100%;
}

.user {
  grid-row: 3;
  grid-column: 3;
  margin-top: -4%;
  font-family: "Montserrat";
}

.user .username {
  font-size: 18px;
}

.opponent {
  grid-row: 1;
}
